<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="#d4a3ae">
    <center>
        <h1>
            Stock Price Prediction 
        </h1>
        <form method="POST", action="/predict">
            <b>Benefits Per Order</b>
            <input type="text" name="a"/> <br>

            <b>Sales per customer </b>
            <input type="text" name="b"/> <br>

            <b>Category Id</b>
            <input type="text" name="c"/> <br>

            <b>Order Item Discount</b>
            <input type="text" name="d"/> <br>

            <b>Order Item Quantity</b>
            <input type="text" name="e"/> <br>


            <input type="submit" value="predict"/>
        </form>
    </center>
</body>
</html>